{% extends "base.html.twig" %}

{% block body %}

<article>
<h2>{{ recipe.title }}</h2>
		<div class="metadata">Ecrit le
			{{recipe.createdAt | date('d/m/Y') }}
			à
			{{recipe.createdAt | date('H:i') }}
			dans la catégorie {{recipe.category.title}} 
			</div>
		<div class="content">
			<img src=" {{recipe.image}}" alt="">
			{{ recipe.content | raw}}
		</div>
</article>

	<section id="commentaires">
		<h1>{{ recipe.comments | length }}
			Commentaires:</h1>
		{% for comment in recipe.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-3">
						{{comment.author}}
						(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
					</div>
					<div class="col">
						{{comment.content | raw}}
					</div>
				</div>
			</div>
					{% endfor %}

{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.author, {'attr': {'placeholder': "Votre nom"}})}}
			{{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}})}}

			<button type="submit" class="btn btn-success">commenter!!!!!</button>

			{{ form_end(commentForm)}}
{% endif %}

{% endblock %}
